
__pycache__/
.vscode/
outputs/
image_paths_cache.txt
.DS_Store
*.png
*.zip
*.npz
*.pb
*.nfs*
.DS_Store


/pretrained_ckpt

########################################
.claude
/CLAUDE.md

/*.log

run.sh
eval.sh
